<ion-view>
  <ion-content padding="true">
    <img class="bg-logo" src="img/epoq_logo-icon_WHITE.svg">

    <div ng-if="pageLoaded">

      <h1 class="epoq-voice relative" ng-if="d.formFilled">Hello {{user.name}}, you have selected {{showName}}</h1>

      <div class="list list-inset" ng-if="!d.formFilled">

        <form>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First name</span>
            <input type="text" name="name" ng-model="user.name" placeholder="Name" ng-change="resetSave()">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" name="email" ng-model="user.email" placeholder="Email" ng-change="resetSave()">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Show
            </div>
            <select ng-model="user.show" ng-options="k as v.name for (k, v) in d.shows" ng-change="setShow()">
            </select>
          </label>
        </form>
      </div>

      <p class="tcs" ng-if="!d.formFilled">You agree to our <span class="tandcs" ng-click="d.openModal()">Terms and Conditions</span></p>

      <span  ng-if="user" ng-class="d.buttonStyle" ng-click="saveResponse()">{{d.saveState}}</span>




      <td-cards ng-if="d.formFilled">
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card)" on-swipe-right="cardSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image">
            <div class="no-text">HATE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LOVE</div>
          </div>
        </td-card>
      </td-cards>

    </div>
  </ion-content>
</ion-view>


<script id="my-modal.html" type="text/ng-template">

  <ion-modal-view>
    <ion-header-bar ng-click="closeModal()">
      <div class="row">
        <div class="col col-10"></div>
          <div class="col col-80">
            <span class="modal-title">Epoq Terms and Conditions</span>
          </div>
          <div class="col col-10">
            <i class="ion-close-round"></i>
          </div>

      </div>
    </ion-header-bar>
    <ion-content padding="true">
      Hello!
    </ion-content>
  </ion-modal-view>

</script>
