<ion-view>
  <ion-content padding="true">
    <img class="bg-logo" src="img/epoq_logo-icon_WHITE.svg">

      <div class="list list-inset" ng-if="!d.formFilled">



        <form>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First name</span>
            <input type="text" name="name" ng-model="user.name" placeholder="Name" ng-change="resetSave()">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" name="email" ng-model="user.email" placeholder="Email" ng-change="resetSave()">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Show
            </div>
            <select ng-model="user.show" ng-options="k as v.name for (k, v) in d.shows" ng-change="setShow()">
            </select>
          </label>
        </form>
      </div>

      <span  ng-if="user" ng-class="d.buttonStyle" ng-click="saveResponse()">{{d.saveState}}</span>


      <h1 class="epoq-voice" ng-if="d.formFilled">Hello {{user.name}}, you have selected {{user.show}}</h1>

      <td-cards ng-if="d.formFilled">
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card)" on-swipe-right="cardSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image">
            <div class="no-text">HATE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LOVE</div>
          </div>
        </td-card>
      </td-cards>

  </ion-content>
</ion-view>

