<ion-view title="Welcome">
  <ion-content padding="true">


    <form ng-submit="submit()" ng-show="d.showForm">

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Choose Show
          </div>
          <select required ng-model="d.show" ng-options="show as show.name for show in d.shows">
          </select>
        </label>

      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          <p class="epoq-voice">Your details</p>
        </div>
        <label class="item item-input">
          <input required type="text" name="name" ng-model="d.name" placeholder="Name">
        </label>
        <label class="item item-input">
          <input required type="text" name="email" ng-model="d.email" placeholder="Email">
        </label>
      </div>




      <button class="button button-dark button-block">
        Submit
      </button>
    </form>


    <div class="epoq-logo breathing">
      <img src="img/epoq.png">
    </div>

  </ion-content>
</ion-view>

