/*countdown  {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.4);
  position: absolute;
  top: 0px;
  left: 0px;
}*/

countdown span {
    font-size: 36px; /* Some tweener fallback that doesn't look awful */
    /*font-size: 55.4vw;*/
    font-size: 34.6vw;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: -1;
    color: rgba(255,255,255,.1);
}

countdown.bold span {
  color: rgba(255,255,255,.5);
}