<ion-view title="Decisions">
  <ion-content padding="true" scroll="false">
    <img class="bg-logo" src="img/epoq_logo-icon_WHITE.svg">


    <div ng-if="imagesLoaded">

      <countdown timer="d.timer"></countdown>


      <div class="decisions-results-wrapper">
        <img class="results-image" ng-src="{{image.imgUrl}}" ng-repeat="image in d.results" style="width: {{d.thumbWidth}}vw">
      </div>

      <h1 class="epoq-voice">{{d.heading}}</h1>
      <div class="choose-wrapper" ng-if="!d.decided">

        <img class="choice" ng-click="makeChoice(choices.choice1)" ng-src="{{choices.choice1.imgUrl}}" ng-class="{'chosen': choices.choice1.chosen}">

        <img class="choice" ng-click="makeChoice(choices.choice2)" ng-src="{{choices.choice2.imgUrl}}" ng-class="{'chosen': choices.choice2.chosen}">
      </div>
        <img class="result"  ng-if="d.decided" ng-src="{{d.result.imgUrl}}" >
    </div>
  </ion-content>
</ion-view>

