<ion-view title="Intimacy">
  <ion-content padding="false" scroll="false" class="intimacy" ng-if="d.imagesLoaded">


    <span class="intimacy-trigger" ng-show="!d.rippleActive" on-touch="loadAnimation()">

    <p>{{d.heading}}</p>

    </span>

    <style>
      ion-content.intimacy {
        background: url('{{d.imgsrc}}') no-repeat top left;
      }
    </style>

    <div class="blank-wrap" ng-class="{'touched': d.touched}" ng-touchmove="blankTouchmove($event)" ng-touchend="blankTouchend($event)" ng-if="d.blank"></div>


    <div class="ripple-wrap" ng-touchmove="onTouchmove($event)" ng-if="d.intimacy"><img ng-show="d.showImage" id="ripple-me" ng-src="{{d.imgsrc}}" height="768" width="1024" /></div>


  </ion-content>
</ion-view>

