<ion-view title="Skipping">
  <ion-content padding="true" class="skipping" ng-class="d.result.yes ? 'yes' : 'no'">

    <img class="bg-logo" src="img/epoq_logo-icon_WHITE.svg">


    <h1 class="epoq-voice relative" ng-show="d.active && !d.enough">Show David this screen to keep him skipping</h1>

    <h1 class="epoq-voice relative" ng-show="d.active && d.enough">Keep him skipping?</h1>

    <h1 class="again" ng-if="d.active">Again</h1>





      <button  ng-show="d.enough" class="button button-positive skipping-button" ng-click="stopSkipping()">Enough</button>




    <h1 class="epoq-voice relative" ng-show="d.finish">Thank you</h1>





  </ion-content>
</ion-view>

