
.rit .button {
  padding: 1.5em 3em;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.rit .button.styl-material {
  -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent;
}

.rit .button.styl-material:hover,
.rit .button.styl-material:focus {
  outline: none;
}

.rit .ripple-obj {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  fill: #AD1457;
}

.rit .ripple-obj use {
  opacity: 0;
}
