/* Empty. Add your own CSS if you like */

body {
  background: #01579B;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  background: transparent !important;
}




.epoq-logo.breathing {
  display: none;
}

body,
.ionic-body, .tab-item,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
input,
button,
select,
textarea {
  font-family: "Jura", sans-serif;
}

.title-left {
  background-image: url(../img/epoq_logo-icon_WHITE.svg);
  background-repeat: no-repeat;
  background-size: 39px;
  background-position: right 2px;
}

.pane, .view {
  background-color: transparent;
}

.word-bar {
  background: rgba(200,200,255,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: -1;
}

.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(200,200,255,0.9);
  z-index: 999;
  padding-top: 240px;
}

.holding-page {
  text-align: center;
  width: 100%;
}

.holding-logo {
  max-width: 70%;
  margin: 0px auto;
}

.epoq-logo {
  text-align: center;
  width: 100%;
}

.epoq-logo img {
  margin: 0px auto;
  display: block;
  max-width: 100%;
}

.epoq-voice {
  font-size: 2rem;
}

